<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Gmail address to send from -->
    <add key="Username" value="address@gmail.com" />
    <!-- Gmail password-->
    <add key="Password" value="mysupersecretpassword" />
    <!-- Idle between email in seconds -->
    <add key="Idletime" value="1800" />
    <!-- Email to recipient -->
    <add key="Recipient" value="address@gmail.com" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
